<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}

    {% endblock %}
</head>
<body>
    <h1>Header</h1>
    <h1>Search for Stocks here</h1>
    <form action="{{ url_for('search_stock') }}" method='POST'>
        <label for="stock_symbol">Stock Symbol: </label>
        <input type="text" id='stock_symbol' name='stock_symbol' required>
        <button type='submit'>Search</button>
    </form>
    {% block content %}
        
    {% endblock %}
</body>
</html>