{% extends "base.html" %}

{% block head %}

{% endblock %}



{% block content %}
{% if current_user.is_authenticated %}
    <h1>Hello {{ current_user.username }} you are logged in</h1>
    
    <p>Here is your portfolio</p>
    <table>
        <tr>
            <th>STOCK</th>
            <th>SHARES</th>
            <th>PRICE</th>
            <th>REVENUE</th>
        </tr>
        {% for stock in portfolio %}
            <tr>
                <td>{{ stock.stock }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.currentPrice | round(2) }}</td>
                <td>{{ stock.totalValue | round(2) }}</td>
            </tr>
        {% endfor %}
    </table>
    <p>CASH -- VALUE OF STOCKS -- REVENUE</p>
    <p>{{current_user.cash | round(2)}} -- {{current_user.value | round(2)}} -- {{current_user.revenue | round(2)}}</p>
{% endif %}
{% endblock %}