{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}
<h1>Stock Information: </h1>

{% if stock_info %}
    <h2>Stock Information</h2>
    <p>Symbol: {{ stock_info['symbol'] }}</p>
    <p>Current Price: {{ stock_info['current_price'] }}</p>
    <p>52 Week High: {{ stock_info['52_week_high'] }}</p>
    <p>52 Week Low: {{ stock_info['52_week_low'] }}</p>
    <p>Market Cap: {{ stock_info['market_cap'] }}</p>
    <a method='GET' href="{{ url_for('buystock', stock_price=stock_info['current_price'], ticker=stock_info['symbol']) }}">Buy Stock</a>
    <a method='GET' href="{{ url_for('sellstock', stock_price=stock_info['current_price'], ticker=stock_info['symbol']) }}">Sell Stock</a>
{% endif %}
{% endblock %}