{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
    <p>Here is your transaction history</p>
    <table>
        <tr>
            <th>BUY/SELL</th>
            <th>STOCK</th>
            <th>PRICE</th>
            <th>SHARES</th>
            <th>REVENUE</th>
            <th>DATE</th>
        </tr>
        {% for transaction in history %}
            <tr>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.stock }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.revenue | round(2)}}</td>
                <td>{{ transaction.date.strftime('%B %d, %Y - %I:%M%p') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endif %}
{% endblock content %}